* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: 'Cabin', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
}

p {
  font-size: 12px;
  font-weight: 400;
}

p, h5, h2 {
  color: #574525;
}

h2 {
  font-size: 1.46667em;
  line-height: 1.3;
  font-weight: 500;
}

/* footer font code*/
h4 {
  font-size: 0.86667em;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

/* --------- */

h5 {
  font-weight: 600;
}

ul {
  list-style: none outside;
}

ul, ol {
  padding: 0;
  margin: 0 0 30px;
}

li {
  margin-bottom: 0.25em;
}

a {
  color: #3c2e23;
}

a:hover {
  color: #f89e97;
  text-decoration: none;
  background: transparent;
}

/*---------- header code ----------*/

.site-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px;
  justify-content: center;
  background: rgb(255, 255, 255);
}

#top-grey {
  margin-bottom: 40px;
  background-color: rgb(179, 179, 179);
  color: rgb(25, 52, 65);
  padding: 15px 0;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  position: sticky;
  top: 0;
}

/* #top-number {
  color: rgb(255, 255, 255);
} */

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper img{
  padding: 20px;
  margin: 0 auto;
  width: 250px;
}

.nav-ginseng {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 30px;
  font-size: 1.06667em;
  font-weight: 400;
  font-style: normal;
  cursor: default;
  margin: 0 auto;
  text-align: center;
}


.nav-ginseng>li {
  position: relative;
  display: inline-block;
  margin: 0;
}


.site-nav-link {
  display: block;
  text-decoration: none;
  padding: 15px;
  white-space: nowrap;
}

/*---------- body code ----------*/

.wrapper-main {
  display: flex;
}

.main-header {
  height: 60px;
  padding-left: 15%;
}

.main-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 200px 20px;
  width: 100%;
}

.ginseng {
  width: 25%;
  text-align: center;
}

.ginseng img {
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.ginseng img:hover {
  opacity: 70%;
}

/*---------- footer code ----------*/

.site-footer {
  margin-top: 40px;
  padding-bottom: 20px;
  color: #3c2e23;
}

.footer-grid {
  list-style: none;
  margin: 0;
  padding-left: 10%;
}

.footer-grid-item {
  display: inline-block;
  width: 25%;
  padding: 0 30px;
}

.footer-grid-links {
  margin-bottom: 0;
}

.footer-grid-links li {
  font-size: 0.85em;
}

.footer-grid-links a {
  text-decoration: none;
  font-weight: 400;
}
