* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: 'Cabin', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  font-size: 15px;
  line-height: 1.7;
  color: #3c2e23;
}

p, h5, h2 {
  color: #574525;
  font-weight: 200;
}

h1 {
  font-size: 1.73333em;
  line-height: 2;
  margin: 0 0 15px;
}

h2 {
  font-size: 1.46667em;
  line-height: 1.3;
  font-weight: 500;
}

/* footer font code*/
h4 {
  font-size: 0.86667em;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

/* --------- */

h5 {
  font-weight: 600;
}

ul {
  list-style: none outside;
}

ul, ol {
  padding: 0;
  margin: 0 0 30px;
}

li {
  margin-bottom: 0.25em;
}

a {
  color: #3c2e23;
  text-decoration: none;
}

a:hover {
  color: #f45b4f;
}

/*---------- header code ----------*/

.site-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px;
  justify-content: center;
  background: rgb(255, 255, 255);
}

#top-grey {
  margin-bottom: 40px;
  background-color: rgb(179, 179, 179);
  color: rgb(25, 52, 65);
  padding: 15px 0;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  position: sticky;
  top: 0;
}

/* #top-number {
  color: rgb(255, 255, 255);
} */

.wrapper {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper img{
  padding: 20px;
  margin: 0 auto;
  width: 250px;
}

.nav-ginseng {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 30px;
  font-size: 1.06667em;
  font-weight: 400;
  font-style: normal;
  cursor: default;
  margin: 0 auto;
  text-align: center;
}

.nav-ginseng>li {
  position: relative;
  display: inline-block;
  margin: 0;
}

.site-nav-link {
  display: block;
  text-decoration: none;
  padding: 15px;
  white-space: nowrap;
}

/*---------- main code ----------*/
/* This is the original site's specific tags */
.main-content {
  margin-top: 15px;
  display: block;
  padding-bottom: 30px;
}

.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -30px;
}

.grid-item {
  float: left;
  min-height: 1px;
  padding-left: 30px;
  width: 100%;
  vertical-align: top;
}

.grid::after {
  content: "";
  display: table;
  clear: both;
}

.section-header {
  display: table;
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}

.section-pad {
  padding-left: 50px;
}

.section-header-title {
  color: #3c2e23;
}

.one-quarter {
  width: 25%;
}

.grid-link {
  position: relative;
  display: block;
  padding-bottom: 30px;
  line-height: 1.3px;
}

.text-center {
  text-align: center !important;
}

.grid-link-image {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 auto 10px;
}

.grid-link-title {
  color: #3c2e23;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 500;
  padding-left: 30px;
}

.grid-link-info {
  font-size: .85em;
  line-height: 1.5;
  color: #574525;
}

.grid-link-title .grid-link-info {
  position: relative;
  margin-bottom: 5px;
}

.grid-words {
  margin-bottom: 30px;
}

.grid-words p {
  margin: 0 0 15px 0;
}

.grid-words h2 {
  margin-top: 2em;
}

/* ----------------- */

/* ---------- Product code ---------- */

.one-half {
  width: 50%;
}

.product-image {
  text-align: center;
}

.product-image img {
  width: 300px;
}

.product-single-prices {
  margin: 50px 0;
}

.product-single-price {
  color: #f45b4f;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 40px;
}

.contacting {
  background-color: #f45b4f;
  color: white;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.contacting:hover {
  color: black;
  cursor: pointer;
}

/*---------- footer code ----------*/

.site-footer {
  padding: 30px 0 20px;
  color: #3c2e23;
}

.footer-grid {
  list-style: none;
  margin: 0;
}

.footer-grid-item {
  display: inline-block;
  width: 25%;
  padding: 0;
  margin: 0 30px;
}

.footer-grid-links {
  margin-bottom: 0;
}

.footer-grid-links li {
  font-size: 0.85em;
}

.footer-grid-links a {
  text-decoration: none;
  font-weight: 400;
}

/* MISC code */

#About-Us img {
  width: 480px;
}

.dot {
  list-style-type: disc;
}
